*.pck'
 filter=lfs diff=lfs merge=lfs -text
*.pck filter=lfs diff=lfs merge=lfs -text
Gra.exe filter=lfs diff=lfs merge=lfs -text
Gra.pck filter=lfs diff=lfs merge=lfs -text
data_Nazwa[[:space:]]projektu_windows_x86_64 filter=lfs diff=lfs merge=lfs -text
godot-jolt_windows-x64.dll filter=lfs diff=lfs merge=lfs -text
